/*  darker purple #7E6D75
 Lignter purple    #BEA9B5
 Light yellow       #EEE1C7
 blue                   #A0B4AD
  #666666



*/

/* body */

/*links*/
a{
  color:#7E6D75;
  text-decoration: none;
  font-weight: bold;

}
a:hover{
  color: #6da390;
}

footer a{
  color: #EEE1C7;
  text-decoration: none;
}
footer a:hover{
  color: #254f69;
}
.btn{
  background: #BEA9B5;
  color: #af6664;
  text-decoration: none;
  padding: 5px;
}
.home{
  background:url(../Images/pexels-bemistermister-4034477.jpg) no-repeat ;
  background-size:cover;
  background-position: bottom left;
 

}


.home .content-wrapper{
  background: rgb(255 255 255 /0.8);
  
  
}




header{
  padding: 20px;
  margin: 0px;
  margin-left: 50px;
  
}

h1 + h2 {margin-top: -40px;}

 section{
  margin-left: 70px;

  max-width: 700px;
  padding: 5px;
  
  
  
  
  
}
.categories{
  background: #EEE1C7;
  border-radius: 25px;
  border: 3px solid #7E6D75;
  padding: 10px;
  margin-bottom: 10px;
}


h1{
  font-size: 70px;
}
h2{
  font-size:40px ;
  margin: 5px;

}

footer{
  background:#7E6D75 ;
  
  
}


